html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Default Map */
#map {
  height: 100%;
  cursor: default;
}

/* Nodes (Markers) */
.leaflet-marker-icon {
  cursor: pointer;
}

.leaflet-marker-icon.no-click {
  pointer-events: none;
}

.leaflet-marker-icon.transparent {
  opacity: 0.3;
  transition: opacity 0.15s ease;
}

/* Edges (Polylines) */
.leaflet-interactive {
  cursor: pointer;
}

/* Toolbar */
#toolbar {
  position: absolute;
  top: 10px;
  left: 55px;
  z-index: 1000;
  display: flex;
  gap: 8px;
}

#toolbar button {
  padding: 6px 10px;
  cursor: pointer;
  border: none;
  background: white;
  border-radius: 4px;
}

#toolbar button.active {
  background: #4a90e2;
  color: white;
}

/* Info Panel*/
#info-panel {
  position: absolute;
  top: 60px;
  left: 55px;
  z-index: 1000;

  background: white;
  padding: 10px;
  border-radius: 6px;
  min-width: 200px;

  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

#info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

#info-title {
  font-weight: bold;
}

.hidden {
  display: none;
}
